@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'League Spartan', sans-serif;
}

nav{
    position: absolute;
    left: -1000vw;
    transition: all 0.5s ease-in-out

}

nav.open{
    left: 0;
    @apply bg-white shadow-lg lg:bg-transparent lg:shadow-none
}

@media (min-width:1024px) {
    nav{
        position: relative;
        top: 0;
        left: 0;
    }
    
}